.red {
  background-color: red;
}
.highlight {
  padding: 10px;
  background: slategrey;
  color: orange;
}

.lowLight {
  padding: 10px;
  background: gray;
  color: white;
}

.unselected-field:hover {
  background-color: aliceblue;
}
.unselected-field {
  cursor: pointer;
}

.selected-field {
  background-color: lightblue;
  border: 2px dashed #98cce6;
  border-spacing: 1px;
  user-select: none;
  cursor: pointer;
}

.show-options {
  padding: 10px;
  position: absolute;
  border: 1px solid #ccc;
}
.hide {
  display: none;
}
.show {
  display: block;
}
