<div (click)="disableContextMenu()" oncontextmenu="return false;">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Employee</th>
      <ng-container *ngFor="let day of calendarDaysArr; let dayNameIdx = index">
        <th *ngIf="day.isActive"  [classList]="dayClass === dayNameIdx ? 'highlight' : 'low-light'">
            {{ day.dayName }} {{ day.i }}
        </th>
      </ng-container>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employees; let empIdx = index" >
      <th [classList]="employeeClass === empIdx ? 'highlight' : 'low-light'">{{ employee.name }}</th>
      <ng-container *ngFor="let day of calendarDaysArr; let dayIdx = index">
        <th class="employee-field" *ngIf="day.isActive" (mouseover)="dayClass = dayIdx; employeeClass = empIdx" (mouseleave)="dayClass = null" (contextmenu)="onRightClick($event)">
        </th>
      </ng-container>
    </tr>
    </tbody>
  </table>
</div>

<div class="context-menu" *ngIf="contextMenu" [ngStyle]="{'left.px': x, 'top.px': y}">
  <div class="context-menu-option" (click)="addShift()">
    Add shift
  </div>
  <div class="context-menu-option" (click)="addShift()">
    Add shift 2
  </div>

</div>
