.context-menu {
  position: fixed;
  background-color: #d3d2cc;
  padding: 10px;
  border-radius: 10px;
  min-width: 250px;
}

.context-menu-option {
  cursor: pointer;
  padding: 5px;
  min-width: 240px;
}

.context-menu-option:hover {
  background-color: white;
}

.hide {
  display: none;
}

.show {
  display: block;
}

#add-shift-options-time{
  display: none;
}

#add-shift-options-time-btn {
  text-align: right;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
