<div id="add-shift-options">
  <form #userForm="ngForm">
    <div class="form-group">

      <label for="employee-name">Name </label>
      <input class="form-control" id="employee-name" name="name" type="text" [(ngModel)]="employeeModel.name">

      <label for="employee-surname">Surname </label>
      <input class="form-control" id="employee-surname" name="surname" type="text" [(ngModel)]="employeeModel.surname">

      <label for="employee-phone">Phone </label>
      <input class="form-control" id="employee-phone" name="phone" type="text" [(ngModel)]="employeeModel.phone">
    </div>
    <div id="add-employee">
      <button class="btn btn-outline-success" type="submit" (click)="addEmployee(userForm.value)">Add</button>
    </div>
  </form>
</div>
